# Ignore all logfiles and tempfiles
/tmp/
/tags

# Environment normalisation
/.env
/.rspec-local
/.yardoc
/_yardoc
/lib/bundler/man/

# Gem packaging stuff
/*.gem
/pkg/

# Dependencies and such
/.bundle
/.ruby-version
/Gemfile.lock

# Spec housekeeping
/coverage/
/doc/
/spec/reports/

# rspec failure tracking
/spec/rspec-status.txt
